div {
  background-color: red;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  margin: 50px;
}
