button {
  color: rgb(50, 30, 227);
  background-color: rgb(231, 26, 26);
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}
button:hover {
  background-color: rgb(50, 30, 227);
  color: rgb(231, 26, 26);
  padding: 40px 50px;
